:root {
    /* Color palette */
    --c-gray10: white;
    --c-gray9: rgb(236, 237, 239);
    --c-gray8: rgb(221, 221, 221);
    --c-gray7: rgb(214, 216, 219);
    --c-gray5: rgb(128, 128, 128);
    --c-gray4: rgb(119, 119, 119);
    --c-gray2: rgb(52, 58, 64);
    --c-gray0: black;

    --c-invert-gray10: black;
    --c-invert-gray9: rgb(32, 32, 33);
    --c-invert-gray8: rgb(50, 49, 49);
    --c-invert-gray7: rgb(69, 69, 69);
    --c-invert-gray5: rgb(128, 128, 128);
    --c-invert-gray4: rgb(147, 147, 147);
    --c-invert-gray2: rgb(153, 168, 184);
    --c-invert-gray0: white;

    --c-blue-light: rgba(51, 122, 183);
    --c-invert-blue-light: rgb(72, 145, 209);
    --c-blue-light-translucent: rgba(51, 122, 183, 0.75);
    --c-invert-blue-light-translucent: rgba(72, 145, 209, 0.85);
    --c-red: rgb(183, 52, 52);
    --c-green: rgb(45, 169, 74);
    --c-blue: rgb(0, 0, 238);
    --c-invert-blue: rgb(106, 106, 235);
    --c-purple: rgb(85, 26, 139);
    --c-invert-purple: rgb(140, 73, 202);

    /* Color tokens */

    --color-bg-weak: var(--c-gray10);
    --color-bg-weak2: var(--c-gray9);
    --color-bg-strong: var(--c-gray8);
    --color-invert-bg-strong: var(--c-gray2);
    --color-fg-error: var(--c-red);

    --color-fg-text: var(--c-gray0);
    --color-invert-fg-text: var(--c-gray10);
    --color-fg-text-weak: var(--c-gray4);

    --color-fg-link-external: var(--c-blue);
    --color-fg-link-internal: var(--c-green);
    --color-fg-link-visited: var(--c-purple);
    --color-bg-link: var(--c-blue-light);
    --color-bg-link-hover: var(--c-blue-light-translucent);

    --color-border-weak: var(--c-gray7);
    --color-border-strong: var(--c-gray5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-weak: var(--c-invert-gray10);
        --color-bg-weak2: var(--c-invert-gray9);
        --color-bg-strong: var(--c-invert-gray8);
        --color-invert-bg-strong: var(--c-invert-gray2);
        --color-fg-error: var(--c-red);

        --color-fg-text: var(--c-invert-gray0);
        --color-invert-fg-text: var(--c-invert-gray10);
        --color-fg-text-weak: var(--c-invert-gray4);

        --color-fg-link-external: var(--c-invert-blue);
        --color-fg-link-internal: var(--c-green);
        --color-fg-link-visited: var(--c-invert-purple);
        --color-bg-link: var(--c-invert-blue-light);
        --color-bg-link-hover: var(--c-invert-blue-light-translucent);

        --color-border-weak: var(--c-invert-gray7);
        --color-border-strong: var(--c-invert-gray5);
    }
}
