#revisions {
    padding-left: 1em;
}

#revisions a {
    color: var(--nav-page-links);
}

#current-revision {
    font-weight: bold;
}

#current-revision a::before {
    content: "🡆 ";
    color: var(--nav-text);
    font-weight: normal;
}

#revision-notice {
    color: var(--article-warning-text);
    background-color: var(--article-pre-background);
    border: 1px solid var(--article-pre-border);
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    overflow: auto;
    text-align: center;
}
