:root {
    --nav-text: var(--color-fg-text-weak);
    --nav-background: var(--color-bg-strong);
    --nav-button-text: var(--color-invert-fg-text);
    --nav-button-background: var(--c-blue-light);
    --nav-button-background-hover: var(--color-bg-link-hover);

    /* Don't use dark mode colors on title, it's always dark */
    --nav-title-text: var(--c-gray10);
    --nav-title-background: var(--c-gray2);

    --nav-page-links: var(--color-bg-link);
}

.grid-for-nav {
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav-side {
    padding-bottom: 3em;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    color: var(--nav-text);
    background: var(--nav-background);
    z-index: 200;
}

.side-scroll {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

.menu-vertical {
    width: 300px;
}

.menu-vertical ul {
    padding-left: 1em;
}

.menu-vertical ul li {
    list-style-type: none;
}

.nav-content-wrap {
    margin-left: 300px;
    min-height: 100%;
    display: flex;
}

.nav-top {
    display: none;
}

.menu-toggle {
    float: left;
    font-size: 1.1em;
}

.nav-top a {
    float: right;
    background: var(--nav-button-background);
    color: var(--nav-button-text);
    font-size: 14px;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.3em;
}

.nav-top a:hover {
    background: var(--nav-button-background-hover);
}

.nav-content {
    padding: 0 1.618em;
    height: 100%;
    margin: 0;
    overflow-x: auto;
}

.nav-page-title {
    background: var(--nav-title-background);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid gray;
    text-align: center;
}

.page-title {
    color: var(--nav-title-text);
    font-size: 1.25em;
}

.nav-header {
    color: var(--nav-text);
    margin: 0.5em;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-page-timestamp {
    color: var(--nav-text);
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

.nav-page-links {
    color: var(--nav-text);
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

.nav-page-links a {
    color: var(--nav-page-links);
}

#toc a {
    color: var(--nav-page-links);
}

#toc ol {
    list-style-type: decimal;
    padding-left: 2em;
}
#toc ol ol {
    list-style-type: upper-alpha;
}
#toc ol ol ol {
    list-style-type: upper-roman;
}
#toc ol ol ol ol {
    list-style-type: lower-alpha;
}
#toc ol ol ol ol ol {
    list-style-type: lower-roman;
}
#toc ol ol ol ol ol ol {
    list-style-type: lower-greek;
}

.nav-bottom {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    background: var(--nav-background);
    z-index: 400;
}

.nav-input-wrap {
    margin: 0.5em;
}

.nav-input-wrap input {
    font-size: 14px;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
    border: none;
}

.nav-button-wrap {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em;
}

.nav-button,
.menu-toggle {
    background: var(--nav-button-background);
    color: var(--nav-button-text);
    font-size: 14px;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
}

.nav-button {
    padding-left: 2em;
    padding-right: 2em;
}

.nav-button:hover,
.menu-toggle:hover {
    background: var(--nav-button-background-hover);
    text-decoration: none;
}

#related-links ul {
    margin-right: 1em;
}

.widget-title-span {
    text-transform: none;
    font-weight: normal;
}

.widget-title-btn {
    color: var(--nav-page-links);
}

.related-page:hover .del-relation {
    visibility: visible;
}

.del-relation {
    visibility: hidden;
    padding-left: 0.5em;
    /* this messes things up a little when page names are very long */
    float: right;
}

.del-relation-btn {
    color: var(--color-bg-error);
}

.widget-title-btn:hover,
.del-relation-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-side {
        left: -300px;
    }

    .nav-bottom {
        width: 85%;
    }

    .nav-top::after {
        clear: both;
    }

    .nav-top::after,
    .nav-top::before {
        display: table;
        content: "";
    }

    .nav-top {
        background: var(--nav-title-background);
        padding: 0.5em 0.5em;
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .nav-top .page-title {
        width: 100%;
    }

    .nav-content-wrap {
        margin-left: 0;
    }

    .nav-content {
        padding: 1.618em;
    }

    .nav-side.shift {
        width: 85%;
        left: 0;
    }

    .menu-vertical {
        width: auto;
    }

    .nav-page-title,
    .nav-bottom {
        display: none;
    }

    .nav-content-wrap.shift {
        position: fixed;
        min-width: 100%;
        left: 85%;
        top: 0;
        height: 100%;
        overflow: hidden;
    }

    .nav-bottom.shift {
        display: block;
    }

    article {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
