{% import "macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block links %}
  {{ super() }}
  {% if config.SILICON_EDITOR == 'codemirror' %}
    <link rel=stylesheet href="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.css') }}">
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}" type="text/css" media="screen">
  {{ macros.favicons('edit') }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if config.SILICON_EDITOR == 'codemirror' %}
    <script src="{{ url_for('static', filename='node_modules/requirejs/require.js') }}" defer></script>
  {% endif %}
  <script type="text/javascript">
    const js_modules_root = "{{ url_for('static', filename='node_modules') }}";
    const silicon_editor = "{{ config.SILICON_EDITOR }}";
  </script>
  <script src="{{ url_for('static', filename='js/widgets.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/edit.js') }}" defer></script>
{% endblock %}

{% block sidebar_contents %}
  {{ macros.nav_links(title, 'docs') }}

  <div class="nav-button-wrap">
    <input class="nav-button" type="Submit" form="page-form" value="Save">
    <a class="nav-button" href="{{ url_for('page.view', title=title) }}">Cancel</a>
  </div>

  <div id="alert-box">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="alerts">
          {% for message in messages %}
          <li class="alert">{{ message }}</li>
          {% endfor %}
        </ul>
      </span>
      {% endif %}
    {% endwith %}
  </div>

  {{ macros.related(title, relatives) }}
  {{ macros.table_of_contents(title, toc) }}
{% endblock %}

{% block content %}
  <form action="{{ url_for('page.edit', title=title) }}" id="page-form" method="post">
    <textarea id="body-text" name="body">{{ body|e }}</textarea>
  </form>
{% endblock %}
