{#
 # Render favicon links
 #
 # Params:
 # * mode: `view` (default) or `edit`
#}
{% macro favicons(mode='view') %}
  <link rel="icon" sizes="16x16 32x32 48x48" href="{{ url_for('static', filename='img') }}/favicon-{{ mode }}.ico">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img') }}/favicon-{{ mode }}-192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img') }}/favicon-{{ mode }}-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img') }}/favicon-{{ mode }}-16.png">
{% endmacro %}

{#
 # Render the nav links bar
 #
 # Params:
 # * title: title of the current page
 # * _varargs_: `history`, `home`, and/or `docs`
 #}
{% macro nav_links(title) %}
  <div class="nav-page-links">
    [
    {%- for link in varargs -%}
      {%- if link == 'history' -%}
        <a href="{{ url_for('page.history', title=title) }}">History</a>
      {%- elif link == 'home' -%}
        <a href="{{ url_for('page.view', title='home') }}">Home</a>
      {%- elif link == 'docs' -%}
        <a href="{{ url_for('page.docs') }}" target="_blank">Docs</a>
      {%- endif -%}
      {%- if not loop.last %} | {% endif -%}
    {%- endfor -%}
    ]
  </div>
{% endmacro %}

{#
 # Render related pages
 #
 # Params:
 # title: title of the current page
 # relatives: list of pages relatives as an array
 #}
{% macro related(title, relatives) %}
  <div class="nav-header">
    Related
    <span class="widget-title-span">
      [<span class="widget-title-btn" id="add-relation-btn">add</span>]
    </span>
  </div>
  <div id="related-links" data-widget-url="{{ url_for('page.get_relatives', title=title) }}">
    {% include "related.html.j2" %}
  </div>
{% endmacro %}

{#
 # Render table of contents
 # title: title of the current page
 # toc: pre-rendered table of contents
 #}
{% macro table_of_contents(title, toc) %}
  <div class="nav-header">
    Contents
    <span class="widget-title-span" id="update-toc" style="visibility: hidden">
      [<span class="widget-title-btn" id="update-toc-btn">update</span>]
    </span>
  </div>
  <div id="toc" data-widget-url="{{ url_for('page.toc') }}">{{ toc }}</div>
{% endmacro %}
