{% import "macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block links %}
  {{ super() }}
  {{ macros.favicons() }}
{% endblock %}

{% block sidebar_contents %}
  {{ macros.nav_links(title, 'home', 'docs') }}

  <div class="nav-button-wrap">
    <a class="nav-button" href="{{ url_for('page.edit', title=title) }}">Edit</a>
  </div>
{% endblock %}

{% block content %}
  <!-- main content area wrapper -->
  <div class="nav-content">
    <article>
      <h1>Not Found</h1>

      Page does not exist. Perhaps you would like to
      <a class="internal-link" href="{{ url_for('page.edit', title=title) }}">create it</a>?
    </article>
  </div>
{% endblock %}
