#page-form {
    width: 100%;
    overflow-y: hidden;
}

#body-text {
    resize: none;
    width: 100%;
    height: 100%;
}

#alerts {
    background: var(--nav-alert-background);
    color: var(--nav-alert-text);
    margin: 1em;
}

#alerts li::before {
    /* list-style: disc outside none; */
    content: " ⚠ ";
}

@media screen and (max-width: 768px) {
    #page-form {
        margin-top: 3.1em;
    }
}
