# Copy this file to a file named `.env` and fill out the following settings.
# The resulting `.env` file contains secrets and other things that should
# NOT be committed to version control.

# The hostname for the silicon notes app
SILICON_FQDN=

# Caddy basic auth user
BASICAUTH_USER=

# Caddy basic auth hashed password
BASICAUTH_PW=
