<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>page_title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colors-light.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}" type="text/css" media="screen">
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/notes.js') }}" defer></script>
<body>

  <div class="grid-for-nav">
    <!-- this is the whole left sidebar -->
    <nav class="nav-side" data-toggle="nav-shift">
      <!-- this is the scrollable area of the nav sidebar-->
      <div class="side-scroll">
        <!-- this is the menu part of the sidebar -->
        <div class="menu-vertical" data-spy="affix" role="navigation" aria-label="main naviation">

          <div class="nav-page-title">
            <a href="{{ url_for('page.view', title=title) }}" class="page-title">{{ title }}</a>
          </div>

          <div class="nav-page-links">
            [
            <a href="{{ url_for('page.history', title=title) }}">History</a> |
            <a href="{{ url_for('page.view', title='home') }}">Home</a> |
            <a href="{{ url_for('page.docs') }}">Docs</a>
            ]
          </div>

          <div class="nav-button-wrap">
            <a class="edit-link" id="nav-edit-link" href="{{ url_for('page.edit', title=title) }}">Edit</a>
          </div>

          <div class="nav-page-timestamp">Edited: Nov 12 2021, 09:44:27</div>

          <div>
            <div class="nav-header">Related</div>
            <ul>
              <li><a class="internal-link" href="#">raspberry_pi</a></li>
              <li><a class="internal-link" href="#">debian</a></li>
              <li><a class="internal-link" href="#">goat_farming</a></li>
            </ul>
          </div>

          <div id="toc">
            <div class="nav-header">Contents</div>
            <ol>
              <li><a href="#">References</a></li>
              <ol>
                <li><a href="#">The Dictionary</a></li>
                <li><a href="#">Perhaps a Thesaurus or Three or Four or Five or Six or Seven</a></li>
              </ol>
              <li><a href="#">Releases</a></li>
              <li><a href="#">Level One</a></li>
              <ol>
                <li><a href="#">Level Two</a></li>
                <ol>
                  <li><a href="#">Level Three</a></li>
                  <ol>
                    <li><a href="#">Level Four </a></li>
                    <ol>
                      <li><a href="#">Level Five</a></li>
                      <ol>
                        <li><a href="#">Level Six</a></li>
                      </ol>
                    </ol>
                  </ol>
                </ol>
              </ol>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- this contains the "mobile" nav and contnet -->
    <section class="nav-content-wrap" data-toggle="nav-shift">
      <!-- this contains the hamburger menu and title for mobile -->
      <nav class="nav-top" aria-label="top navigation">
        <button class="menu-toggle" data-toggle="nav-top">Menu</button>
        <span class="page-title" href="#">page_title</span>
        <!-- this is dumb but I really want the page title to be centered
             rather than slightly offset to the right -->
        <button class="menu-toggle" style="visibility: hidden;">Menu</button>
      </nav>
      <!-- main content area wrapper -->
      <div class="nav-content">
      {% block content %}{% endblock %}
      </div>

    </section>
  </div>

  <div class="nav-bottom" data-toggle="nav-bottom" role="note">
    <form class="nav-form" action="/search" method="get">
      <div class="nav-input-wrap">
        <input id="search" name="query" type="text" placeholder="🔍 Search">
      </div>
    </form>
  </div>

</body>
</html>
