<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>page_title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colors-light.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}" type="text/css" media="screen">
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/notes.js') }}" defer></script>
<body>

  <div class="grid-for-nav">
    <!-- this is the whole left sidebar -->
    <nav class="nav-side" data-toggle="nav-shift">
      <!-- this is the scrollable area of the nav sidebar-->
      <div class="side-scroll">
        <!-- this is the menu part of the sidebar -->
        <div class="menu-vertical" data-spy="affix" role="navigation" aria-label="main naviation">

          <div class="nav-page-title">
            <a href="{{ url_for('page.view', title=title) }}" class="page-title">{{ title }}</a>
          </div>

          {% block sidebar_contents %}{% endblock %}

        </div>
      </div>
    </nav>
    <!-- this contains the "mobile" nav and content -->
    <section class="nav-content-wrap" data-toggle="nav-shift">
      <!-- this contains the hamburger menu and title for mobile -->
      <nav class="nav-top" aria-label="top navigation">
        <button class="menu-toggle" data-toggle="nav-top">Menu</button>
        <span class="page-title" href="#">page_title</span>
        <!-- this is dumb but I really want the page title to be centered
             rather than slightly offset to the right -->
        <button class="menu-toggle" style="visibility: hidden;">Menu</button>
      </nav>
      <!-- main content area wrapper -->
      <div class="nav-content">
      {% block content %}{% endblock %}
      </div>

    </section>
  </div>

  <div class="nav-bottom" data-toggle="nav-bottom" role="note">
    <form class="nav-form" action="/search" method="get">
      <div class="nav-input-wrap">
        <input id="search" name="query" type="text" placeholder="🔍 Search">
      </div>
    </form>
  </div>

</body>
</html>
