{% import "macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}" type="text/css" media="screen">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/edit.js') }}" defer></script>
{% endblock %}

{% block sidebar_contents %}
      {{ macros.nav_links(title, 'docs') }}

      <div class="nav-button-wrap">
        <input class="nav-button" type="Submit" form="page-form" value="Save">
        <a class="nav-button" href="{{ url_for('page.view', title=title) }}">Cancel</a>
      </div>

      <div id="alert-box">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul id="alerts">
              {% for message in messages %}
              <li class="alert">{{ message }}</li>
              {% endfor %}
            </ul>
          </span>
          {% endif %}
        {% endwith %}
      </div>

      <div>
        <div class="nav-header">Related</div>
        <ul>
          <li><a class="internal-link" href="#">raspberry_pi</a></li>
          <li><a class="internal-link" href="#">debian</a></li>
          <li><a class="internal-link" href="#">goat_farming</a></li>
        </ul>
      </div>

      <div id="toc">
        <div class="nav-header">Contents</div>
        <ol>
          <li><a href="#">References</a></li>
          <ol>
            <li><a href="#">The Dictionary</a></li>
            <li><a href="#">Perhaps a Thesaurus or Three or Four or Five or Six or Seven</a></li>
          </ol>
          <li><a href="#">Releases</a></li>
          <li><a href="#">Level One</a></li>
          <ol>
            <li><a href="#">Level Two</a></li>
            <ol>
              <li><a href="#">Level Three</a></li>
              <ol>
                <li><a href="#">Level Four </a></li>
                <ol>
                  <li><a href="#">Level Five</a></li>
                  <ol>
                    <li><a href="#">Level Six</a></li>
                  </ol>
                </ol>
              </ol>
            </ol>
          </ol>
        </ul>
      </div>
{% endblock %}

{% block content %}
  <form action="{{ url_for('page.edit', title=title) }}" id="page-form" method="post">
    {# <textarea id="body-text" name="body" rows="24" cols="80">{{ body }}</textarea> #}
    <textarea id="body-text" name="body">{{ body }}</textarea>
  </form>
{% endblock %}
