{#
 # Render the nav links bar
 #
 # Params:
 # * title: title of the current page
 # * _varargs_: `history`, `home`, and/or `docs`
 #}
{% macro nav_links(title) %}
  <div class="nav-page-links">
    [
    {%- for link in varargs -%}
      {%- if link == 'history' -%}
        <a href="{{ url_for('page.history', title=title) }}">History</a>
      {%- elif link == 'home' -%}
        <a href="{{ url_for('page.view', title='home') }}">Home</a>
      {%- elif link == 'docs' -%}
        <a href="{{ url_for('page.docs') }}" target="_blank">Docs</a>
      {%- endif -%}
      {%- if not loop.last %} | {% endif -%}
    {%- endfor -%}
    ]
  </div>
{% endmacro %}

{#
 # Render related pages
 #
 # Params:
 # title: title of the current page
 # relatives: list of pages relatives as an array
 #}
{% macro related(title, relatives) %}
  <div class="nav-header" id="related-pages">
    Related
    <span class="add-relation">
      [<span id="add-relation-btn">add</span>]
    </span>
  </div>
  <div id="related-links" data-widget-url="{{ url_for('page.get_relatives', title=title) }}">
    {% include "related.html.j2" %}
  </div>
{% endmacro %}

{#
 # Render table of contents
 # title: title of the current page
 # toc: pre-rendered table of contents
 #}
{% macro table_of_contents(title, toc) %}
  {% if toc %}
  <div class="nav-header">Contents</div>
  <div id="toc">{{ toc }}</div>
  {% endif %}
{% endmacro %}
