{% import "macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block links %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}" type="text/css" media="screen">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='node_modules/htmx.org/dist/htmx.min.js.gz') }}" defer></script>
{% endblock %}

{% block sidebar_contents %}
      {{ macros.nav_links(title, 'history', 'home', 'docs') }}

      <div class="nav-button-wrap">
        <a class="nav-button" href="{{ url_for('page.edit', title=title) }}">Edit</a>
      </div>

      <div class="nav-page-timestamp">Edited: {{ revision|human_timestamp }}</div>

      <div>
        <div class="nav-header">Related</div>
        <ul>
          <li><a class="internal-link" href="#">raspberry_pi</a></li>
          <li><a class="internal-link" href="#">debian</a></li>
          <li><a class="internal-link" href="#">goat_farming</a></li>
        </ul>
      </div>

      <div id="toc">
        <div class="nav-header"
          hx-get="{{ url_for('page.toc', title=title) }}"
          hx-trigger="load">
          Contents
        </div>
      </div>
{% endblock %}

{% block content %}
  <div class="nav-content">
    <article>
        {{ html|safe }}
    </article>
  </div>
{% endblock %}
