{% import "macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block sidebar_contents %}
      {{ macros.nav_links(title, 'history', 'home', 'docs') }}

      <div class="nav-button-wrap">
        <a class="nav-button" href="{{ url_for('page.edit', title=title) }}">Edit</a>
      </div>

      <div class="nav-page-timestamp">Edited: Nov 12 2021, 09:44:27</div>

      <div>
        <div class="nav-header">Related</div>
        <ul>
          <li><a class="internal-link" href="#">raspberry_pi</a></li>
          <li><a class="internal-link" href="#">debian</a></li>
          <li><a class="internal-link" href="#">goat_farming</a></li>
        </ul>
      </div>

      <div id="toc">
        <div class="nav-header">Contents</div>
        <ol>
          <li><a href="#">References</a></li>
          <ol>
            <li><a href="#">The Dictionary</a></li>
            <li><a href="#">Perhaps a Thesaurus or Three or Four or Five or Six or Seven</a></li>
          </ol>
          <li><a href="#">Releases</a></li>
          <li><a href="#">Level One</a></li>
          <ol>
            <li><a href="#">Level Two</a></li>
            <ol>
              <li><a href="#">Level Three</a></li>
              <ol>
                <li><a href="#">Level Four </a></li>
                <ol>
                  <li><a href="#">Level Five</a></li>
                  <ol>
                    <li><a href="#">Level Six</a></li>
                  </ol>
                </ol>
              </ol>
            </ol>
          </ol>
        </ul>
      </div>
{% endblock %}

{% block content %}
  <!-- main content area wrapper -->
  <div class="nav-content">
    <article>
      {% if revision is none() %}
        {% include 'not_found.html.j2' %}
      {% else %}
        {{ html|safe }}

      {% endif %}
    </article>
  </div>
{% endblock %}
